[submodule "Project/Code/neo4j-movies-template"]
	path = Project/Code/neo4j-movies-template
	url = https://github.com/neo4j-examples/neo4j-movies-template.git
[submodule "Project/Code/movies-python-bolt"]
	path = Project/Code/movies-python-bolt
	url = https://github.com/neo4j-examples/movies-python-bolt.git
